$font-family-single-day: 'SingleDay';

.img_btn{
    display: flex;
    img{
        width: auto;
        height: auto;
        margin-left: 80vw;

    }
    h1{
        color: #72DB73;
        font-family: 'SingleDay';
        margin-left: 2rem;
    }
}