
 body {
   background-color: black; 
   overflow: hidden;
  }

  @font-face {
    font-family: 'SingleDay';
    src: url('../../assets/fonts/SingleDay-Regular.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  @font-face {
    font-family: 'RobotoThin';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dmsans';
    src: url('../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  
  .Reg_cont{
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .Left_header{
    font-family: 'RobotoThin', sans-serif;
    color: white;
    position: absolute;
    margin-top: 40rem;
    margin-left: 4rem;
    font-size: 50;
  }
  .left_header_bottom{
    font-family: 'RobotoThin', sans-serif;
    color: white;
    position: absolute;
    margin-top: 43.5rem;
    margin-left: 4rem;
    font-size: 50;

  }
  .left-aligned-image {
    float: left;
    margin-left:-0.6em;
    margin-top: -1rem;
    width: 50vw;
    height: 110vh;
    text-align: center;
  }
  
  .Reg {
    text-align: center;
    margin-top: 2rem;
    float: left;
    width: 30vw;
    height: 50vh;
    margin-left: 10rem;
  }
  .Reg_info{
    color: white;
    margin-top: -1rem;
    margin-bottom: 3rem;
    font-size: 20px;
    font-family: 'RobotoThin';
    text-align: center;
  }
  
  h1 {
    font-family: 'SingleDay', sans-serif;
    color: #72DB73;
    font-size: 45px;
  }
  
  p {
    font-size: 15px;
    font-family: 'RobotoThin';

    color: #7C7C7C;
  }
  .termsandcond{
    margin-left: 9rem;
  }
  .checkbox {
    width: auto;
    margin-left: 1.3rem;
  }
  .checkbox-cont {
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
    /* margin-bottom: -4rem; */
  }
  .checkbox_text{
    margin-left: 1rem;
    margin-bottom: 1rem;

  }
 

  span {
    color: #72DB73;
  }
  button{
    width: 25rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: #72DB73;
    color: white;
    font-size: 20px;
    margin-top: 1rem;
  }
  input{
    border: none;
    background-color: #292929;
    color: #72DB73;
    border-radius: 5px;
    width: 22rem;
    height: 2rem;
    outline: none;
    padding: 10px;

  }
  form{
    display: block;
  }
  label{
    position: absolute;
    color: red;
    margin-left: -23rem;
    font-size: 15px;
    margin-top: 3.5rem;

  }
  .form-field {
    margin-bottom: 2rem; /* Adjust the value to control the spacing */
  }
  .checkbox_msg{
    color: red;
    margin-left: -11.7rem;
    margin-bottom: 3rem;
    margin-top:-0.5rem;
  }
  button{
    margin-top: 2rem;
  }
  
 
  .text-cont{
    height: 10rem;
    width: 30rem;
    margin-top: 42rem;
    margin-left: 55.5rem;
    position: absolute;
  }

  
 
  