$font-family-single-day: 'SingleDay';
$font-family-roboto-bold: 'RobotoBold';
$font-family-dmsans: 'Dmsans';
$font-family-roboto-thin: 'RobotoThin';
.time_cont{
    align-items: center;

    p{
        font-size: 50px;
        color: white;
    }

}