.news_cont{
    img{
        width: 30vw;
      height: 40vh;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
}
.transparent-div {
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% transparency */
    padding: 1px;
    color: white; 
    margin-top: 0rem;
  }
  