$font-family-roboto-thin: 'RobotoThin';

@font-face {
  font-family: 'RobotoExtranThin';
  src: url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 0;
  font-style: normal;
}
.news_cont{
  width: 20vw;



    img{
        width: 25vw;
      height: 40vh;
      margin-right: 1rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .transparent-div {
      background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% transparency */
      padding: 1px;
      color: white; 
      width:25vw;
      height: 10vh;
      margin-top: -10.8vh;
      position: absolute;
  
      h1{

        font-size: 13px;
      }
      .news_time-cont{
        display: flex;

      }
      .vertical-line {
        display: inline-block;
        border-left: 1px solid white; /* You can adjust the color and thickness of the line as needed */
        height: 12px; /* You can adjust the height of the line as needed */
        margin: 0 10px; /* You can adjust the margin around the line as needed */
    }
      span{
        font-size: 14px;
      }
      .date{
        margin-left: 0.2rem;
      }
      .time{
        margin-left: 0.1rem;
      }
    
    }


    .news-des{
      padding: 15px;
      font-size: 20px;
      font-family: 'RobotoThin';
      width: 25vw;


    }
    .news-content-text-box{
      padding: 20px;

    }
    .news-content-text {
      overflow: visible;
      white-space: normal;
      text-overflow: initial;
      width: 24vw;
      font-size: 15px;
      font-family: 'RobotoExtranThin';
      letter-spacing: 1px;
      word-spacing: 5px;


    }
    
}
.dummy_news_cont {
  height: 40vh;
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
  
  img{
    width: 25vw;
    height: 40vh;
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }
  .dummy_transparent-div{
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% transparency */
    padding: 1px;
    color: white; 
    margin-top: 0rem;
    width:25vw;
    height: 8vh;
    margin-top: -8.8vh;
    position: absolute;
  }
  .dummy_news-content-text-box{
    padding: 20px;
    .dummy-rect-flex{
      display: flex;
      justify-content: space-evenly;
    }
    .rect1{
      width: 10vw;
      height: 1vh;
      background-color: #F3F0E8;
    }
    .rect2{
      width: 5vw;
      height: 1vh;
      background-color: #F3F0E8;
    }
    .rect3{
      width: 3vw;
      height: 1vh;
      background-color: #F3F0E8;
    

    }
  }
}


