$font-family-roboto-thin: 'RobotoThin';

@font-face {
  font-family: 'RobotoExtranThin';
  src: url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 0;
  font-style: normal;
}

  .top_elements {
    display: flex;
  
    .Profile_card {
      width: 35vw;
      height: 24vh;
      background-color: #5746EA;
      border-radius: 20px;
      margin-left: 4rem;
      margin-top: 3rem;
      padding-top: 2rem;
      padding-left: 2rem;
      display: flex;

      img{
        height: 25vh;
        margin-top: -1rem;
      }
      .user_card{
        padding-left: 4rem;
        .user_details{
          margin-top: -1rem;
          // margin-bottom: 3rem;
          padding-bottom: 1rem;
          .para{
            font-size: 20px;
            color: white;
            font-family: 'RobotoThin';
            margin: 0.9vh;

          }
        }
      }
  
     
      .user_genre {
        height: 6em;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-gap: 10px; /* Adjust the gap between elements as needed */
        overflow: auto; 
        margin-right: 9rem;


      }
      
      .user_genre p {
        width: 6rem;
        padding: 7px; 
        padding-left: 20px;
        margin-bottom: -15px;
        border-radius: 20px;
        background-color: #9F94FF;
        color: white;
        font-family: 'RobotoThin';
        margin-top: 0;
        margin-bottom: 5px;
      }

      .try{
        width: 25vw;
        height: 25vh;
        position: absolute;
        background-color: yellow;
        margin-left: 25rem;
      }
    }
  
    .weather_card {
      margin-top: 0rem;
      width: 37vw;
      height: 20vh;
      background-color: #101744;
      border-radius: 20px;
      margin-left: 4rem;
  
      .rect {
        width: auto;
        height: 5vh;
        background-color: #FF4ADE;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .time_div{
          
          align-items: center;
          margin-left: 1rem;
          .date{
            margin-left: 4rem;
          }
          .time{
            margin-right: 5rem;
          }
          p{
            color: white;
            font-size: 32px;
            display: flex;
            justify-content: space-between;
            
          }
        }

      }
    }
  
    .news_card {
      width: 25vw;
      height: 84vh;
      background-color: white;
      margin-left: 4rem;
      margin-top: 3rem;
      border-radius: 20px;
    }
    .time-cont{
      width: 64.3vw;
      height: 28vh;
      background-color: #1E2343;
      margin-left: 4rem;
      border-radius: 10px;
      margin-top: 2rem;
    }
    .flex-profile-weather-notes{

      display: flex;
    }.flex{
      display: flex;
      .note-box{
        width: 25vw;
        height: 52vh;
        background-color: #F1C75B;
        border-radius: 20px;
        margin-left: 2rem;
        margin-top: 3rem;

        h1{
          font-family: 'RobotoThin';
          margin-left: 2.4rem;
        }
        .note-content{
          height:35vh;
          border: none;
          outline: none;
          padding-left: 40px;
          padding-right: 80px;
          overflow: auto;
          font-family: 'RobotoExtranThin';
        }
    }
    }
  }
  
 

  .browse-btn{
    width: 9rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    margin-left: 88vw;
    color: white;
    background-color: #148A08;
    font-size: 20px;
    margin-top: 1rem;
  }
 

