$font-family-roboto-thin: 'RobotoThin';


  .top_elements {
    display: flex;
  
    .Profile_card {
      width: 40vw;
      height: 26vh;
      background-color: #5746EA;
      border-radius: 20px;
      margin-left: 4rem;
      margin-top: 3rem;
      padding-top: 2rem;
      padding-left: 2rem;
      display: flex;

      img{
        height: 25vh;
        margin-top: -1rem;
      }
      .user_card{
        padding-left: 4rem;
        .user_details{
          margin-top: -1rem;
          // margin-bottom: 3rem;
          padding-bottom: 1rem;
          .para{
            font-size: 20px;
            color: white;
            font-family: 'RobotoThin';
            margin: 0.9vh;

          }
        }
      }
  
     
      .user_genre {
        height: 6em;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-gap: 10px; /* Adjust the gap between elements as needed */
        overflow: auto; 
        margin-right: 9rem;


      }
      
      .user_genre p {
        width: 8rem;
        padding: 10px; 
        padding-left: 20px;
        margin-bottom: -15px;
        border-radius: 20px;
        background-color: #9F94FF;
        color: white;
        font-family: 'RobotoThin';
        margin-top: 0;
        margin-bottom: 5px;
      }

      .try{
        width: 25vw;
        height: 25vh;
        position: absolute;
        background-color: yellow;
        margin-left: 25rem;
      }
    }
  
    .weather_card {
      margin-top: -1rem;
      width: 42vw;
      height: 20vh;
      background-color: #101744;
      border-radius: 20px;
      margin-left: 4rem;
  
      .rect {
        width: 42vw;
        height: 5vh;
        background-color: #FF4ADE;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .time_div{
          align-items: center;
          margin-left: 10rem;
          p{
            color: white;
            font-size: 30px;
          }
        }

      }
    }
  
    .news_card {
      width: 25vw;
      height: 80vh;
      background-color: white;
      margin-left: 4rem;
      margin-top: 3rem;
      border-radius: 20px;
    }
    // .transparent_cont{
    //   background-color: rgba(0, 0, 0, 0.5);
    //   width: 30vw;
    //   height: 10vh;
    //   position: absolute;
    //   margin-top: 15.5rem;
    // }
  }
  
  .flex-profile-weather-notes{

    display: flex;
  }.flex{
    display: flex;

 
    
  }