$font-family-single-day: 'SingleDay';
$font-family-roboto-bold: 'RobotoBold';
$font-family-dmsans: 'Dmsans';
$font-family-roboto-thin: 'RobotoThin';

.movie_img{
    border-radius: 10px;
    width: 22vw;
}
.movie_data{
    display: flex;
    
}
.flex_movie_tiles{
    h1{
        color: #878787;
        font-size: 20px;
        margin-left: 3vw;
        font-family: 'RobotoThin';

    }
    .heading{
        color: white;
        font-family: 'RobotoThin';
        margin-bottom: 2rem;
    }

}


ul{
    display: flex;
    gap: 35px;
}