
body{
    /* background-color: black; */
}
@font-face {
    font-family: 'SingleDay';
    src: url('../../assets/fonts/SingleDay-Regular.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  @font-face {
    font-family: 'RobotoBold';
    src: url('../../assets/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dmsans';
    src: url('../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  @font-face {
    font-family: 'RobotoThin';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 0;
    font-style: normal;
  }
  .left_cont{
    float: left;
    margin-left: 3rem;
  }
  .right_cont{
    float: right;
    width: 50vw;
    margin-top: 2rem;
  }
  .left_header {
    font-family: 'SingleDay', sans-serif;
    color: #72DB73;
    font-size: 45px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 60px;
  }
  .left_bottom_header{
    font-family: 'RobotoBold';
    font-size: 60px;
    color: white;
  }
  .firstRow{
    display: flex;

  }
  .secondRow{
    display: flex;
    /* position: absolute;
    margin-top: 15rem; */
  }
  .ThirdRow{
    display: flex;
    /* position: absolute;

    margin-top: 15rem; */

  }
  .btn{
    margin-top: 2rem;
    margin-left: 30rem;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #148A08;
    color: white;
    font-family: 'Dmsans';
  }
.selectedGenre {
  width: 20rem;
}

.genreRows {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 

}

.genreTile {
  flex: 0 0 calc(50% - 5px); 
  border: 1px solid #ccc;
  padding-left: 20px;
  background-color: green;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 25px;
  height: 3rem;
  color: white;
  font-family: 'RobotoThin';
  margin-bottom: 10px;
  width: 3rem;

}

.Xbtn {
  background-color: transparent;
  border: none;
  padding-right: 0px;
  cursor: pointer;
  color: #085C00;
  font-size: 20px;
  margin-top: 4px;
}
.genre_text{
  color: white;
}

